<!DOCTYPE HTML>
<html>
<head>
    <title>Spring App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" type="image/png" href="/shortcut-icon.png"/>
    <link rel="stylesheet" media="all" href="/pui-3.0.0/pivotal-ui.min.css"/>
    <link rel="stylesheet" href="/font-mfizz-2.3.0/font-mfizz.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/javascripts/ping.js"></script>
</head>
<body class="bg-neutral-11">
<div class="container pan">
    <!-- header -->
    <section class="header">
        <div class='row man'>
            <div class='col-xs-24 col-sm-24 col-md-24 col-lg-24 mvxxl txt-c'>
                <a href='https://www.pepsico.com/' target="_blank">
                    <img src="/images/pepsi-logo.png" width="46" class="txt-b" alt="PepsiCo"
                         title="PepsiCo"/>
                </a>
                <span class="h1 em-high txt-m mhl type-neutral-4">+</span>
                <a href='https://spring.io/' target="_blank">
                    <img src="/images/spring_logo.png" width="46" class="txt-m" alt="Spring" title="Spring"/>
                </a>
            </div>
        </div>
    </section>
    <!-- content -->
    <section class="content">
        <ul class="list-group">
            <!-- buildpack -->
            <li class="list-group-item pln">
                <div class="row man">
                    <div class="media-middle" style="align-content: center">
                        <img src="/images/mountain-dew-bottle.png" height="500" style="margin-left: auto; margin-right: auto; display: block "/>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <!-- footer -->
    <section class="footer">
        <div class="row mhn mvxxl txt-c">
            <a href="https://docs.pivotal.io/pivotalcf/2-4/devguide/" target="_blank">
                <img src="/images/pcf-logo.png" width="200" alt="Pivotal Cloud Foundry" title="Pivotal Cloud Foundry"/>
                <br/>
                <span class="txt-c small type-neutral-4">
              This is a Pivotal Cloud Foundry Blue Green demo application.
            </span>
            </a>
            <div data-ping="ping" style="display:none;"></div>
        </div>
    </section>
</div>
</body>
</html>
